<learnyheader loggedin="false" welcomepage="true"></learnyheader>
<div class="registry well well-lg">
	<div class="page-header">
		<h1>Resette dein Passwort</h1>
		<p>Gib deine E-Mail-Adresse ein und du erhältst einen Link zum
			Zurücksetzen des Passworts.</p>
	</div>
	<div ng-show="success" class="alert alert-success fade in">
		<strong>Erfolg!</strong><a ui-sref="welcome"> Eine E-Mail wurde an deine Adresse gesendet.</a>
	</div>
	<div ng-show="error" class="alert alert-danger fade in">
		<strong>Fehler!</strong> Ein Nutzer mit dieser Adresse existiert
		nicht.
	</div>
	<form role="form" ng-submit="submit()">
		<div class="form-group">
			<label class="control-label col-sm-6" for="newPassword"><span
				class="glyphicon glyphicon-envelope"></span> E-Mail:</label><br /> <input
				class="form-control" type="text" name="email" ng-model="email"
				required></input>
		</div>
		<div align="right">
				<input class="btn btn-primary"
					type="submit" value="Senden.">
			</div>
	</form>
</div>