<learnyheader loggedin="false" welcomepage="true"></learnyheader>
<div class="registry well well-lg">
	<div class="page-header">
		<h1>
			<span class="glyphicon glyphicon-plus"></span> Gib dein neues
			Passwort ein:
		</h1>
	</div>
	<div ng-show="success" class="alert alert-success fade in">
		<strong>Erfolg!</strong><a ui-sref="welcome"> Logge dich jetzt
			ein.</a>
	</div>
	<div ng-show="error" class="alert alert-danger fade in">
		<strong>Fehler!</strong> Dein Token scheint abgelaufen zu sein, <a ui-sref="requestPassword">Beantrage einen neuen.</a>
	</div>
	<form role="form" ng-submit="submit()">
		<div class="form-group">
			<label class="control-label col-sm-6" for="newPassword">
				Neues Passwort:</label><br /> <input class="form-control" type="password"
				name="newPassword" ng-model="newPassword" required></input> <label
				class="control-label col-sm-6" for="confirmassword"> Neues
				Passwort bestätigen:</label><br /> <input class="form-control" type="password"
				name="confirmPassword" ng-model="confirmPassword" required></input>
			<p ng-show="passwordMismatch" class="alert alert-danger">Passwörter
				stimmen nicht überein!</p>

			<div align="right">
				<input ng-disabled="passwordMismatch" class="btn btn-primary"
					type="submit" value="Speichern">
			</div>
	</form>
</div>