<div class="page-header text-center">
  <h1>Willkommen {{currentUser.firstname}}!</h1>
</div>
<div ng-show="showAdminSubjects" class="page-header text-center">
  <h1><span class="glyphicon glyphicon-list"></span> Meine administrierten Fächer</h1>
</div>
<div ng-show="showAdminSubjects" class="section">
	<div class="container">
                <button class="btn btn-default btn-block" ng-repeat="subject in adminSubjects" ui-sref="app.subject({id : subject.id})">
		    		<table style="word-wrap:break-word">
					   <tr>
          	               <td rowspan="2"><i class="fa fa-3x fa-fw fa-flask"></i></td>
         	               <td align="left"><h4>{{subject.name}}</h4></td>
         	           </tr>
					    <tr><td align="left">Info:{{subject.description}}</td></tr>
					</table>
                </button>
    </div>
</div>
<div ng-show="showSubjects" class="page-header text-center">
  <h1><span class="glyphicon glyphicon-list"></span> Meine Fächer</h1>
</div>
<div ng-show="showSubjects" class="section">
	<div class="container">
                <button class="btn btn-default btn-block" ng-repeat="subject in subjects" ui-sref="app.subject({id : subject.id})">
		    		<table style="word-wrap:break-word">
					    <tr>
          	                <td rowspan="2"><i class="fa fa-3x fa-fw fa-flask"></i></td>
         	                <td align="left"><h4>{{subject.name}}</h4></td>
         	            </tr>
					    <tr><td align="left">Info:{{subject.description}}</td></tr>
					</table>
                </button>
    </div>
</div>