<div id="globalModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header alert alert-danger">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-log-in"></span> WARNUNG
				</h4>
			</div>
			<div class="modal-body">
				{{text}}
			</div>
			<div class="modal-footer">
				<button ng-click="go()" class="btn btn-success" data-dismiss="modal">
					<span class="glyphicon glyphicon-plus"></span> Okay
				</button>
				<button ng-click="cancel()" class="btn btn-warning" data-dismiss="modal">
					<span class="glyphicon glyphicon-plus"></span> Abbrechen
				</button>
			</div>
		</div>
	</div>
</div>
