<div class="modal-body">
	<form ng-submit="login()">
		<label for="username"><span class="glyphicon glyphicon-user"></span> Username</label>
		<input class="form-control" placeholder="Enter username" type="text" name="username" ng-model="username" required></input>
		<label for="password"><span class="glyphicon glyphicon-lock"></span> Password</label>
		<input class="form-control" placeholder="Enter password" type="password" name="password" ng-model="password" required></input>
		<input type="submit" value="Login." class="btn btn-default btn-success btn-block" data-toggle="modal" id="loginButton"></input>
	</form>
</div>
<div class="modal-footer">
	<p>Not a member, yet?</p>
	<button type="submit" class="btn btn-default btn-block" data-dismiss="modal"><span class="glyphicon glyphicon-plus"></span> Sign up.</button>
</div>