<learnyheader loggedin="false" welcomepage="true"></learnyheader>
<div class="cover">
	<div class="cover-image" style="background-image: url(images/landscape.jpg);"></div>
   	<div class="section">
    	<div class="container">
        	<div class="row">
          		<div class="col-md-12 text-center">
            		<h1 class="text-inverse">Learny</h1>
            		<p class="text-inverse">Questions. Answers. Knowledge.</p>
            		<br>
            		<br>
         		</div>
         	</div>
         	<div class="row">
         		<div class="col-md-12 text-center">
            		<p class="text-inverse"><span class="glyphicon glyphicon-chevron-down"></span></p>
         		</div>
         	</div>
    	</div> 
    </div>
</div>
    <div class="section" id="page-two">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="images/questions.png"
            class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1 class="text-primary">Questions.</h1>
            <h3>Simple.</h3>
            <p>	Welche Unternehmensformen zählen zu den Kapitalgesellschaften? Was sind die Komponenten eines ERM? Welche Form nehmen die Indifferenzkurven bei inferioren Gütern an? 
				Teste dein Wissen aus den Vorlesungen in zahlreichen, von wissenschaftlichen Mitarbeitern und Dozenten erstellten Tests! Durch Auswahl der für dich relevanten und interessanten Fächer kannst Du so einfach und spielerisch genau die Kenntnisse vertiefen, die Du für dein Studium benötigst. 
				Ein riesiger Berg Unterlagen? Noch 2 Wochen bis zur Prüfung? Panik breitet sich aus? Ist überhaupt schon etwas in deinem Kopf hängen geblieben oder herrscht dort bislang nur gähnende Leere?
				Durch regelmäßige Wiederholung unseres Multiple-Choice-Tests gehst Du diesen Problemen aus dem Weg und wirst sehen wie die Fragezeichen in deinem Kopf nach und nach verschwinden!
			</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-primary">Answers.</h1>
            <h3>Smart.</h3>
            <p>	War es Antwort B? Oder vielleicht doch Antwort C? Und vor allem: Warum?
				Learny gibt dir nicht nur Dir die Möglichkeit Fragen zu beantworten, sondern beantwortet auch deine Fragen! 
				Nach jedem gelösten Test gibt es eine Auswertung der richtigen und falschen Antworten und eine Musterlösung bei falschen Antworten. So kannst Du direkt und einfach deine Fehler erkennen und beim nächsten Mal vermeiden.
			</p>
          </div>
          <div class="col-md-6">
            <img src="images/answers.png"
            class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="images/knowledge.png"
            class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1 class="text-primary">Knowledge.</h1>
            <h3>Versatile.
              <br>
            </h3>
            <p>	Erobere neue Level und schalte so mehr Tests frei! Erst wenn ein Kapitel abgeschlossen ist, kannst Du die nächste Testlandschaft freischalten. So wird sichergestellt, dass Du das Gelernte tatsächlich verinnerlichst, und nicht nur an der Oberfläche kratzt!
				Mit Hilfe von Statistiken kannst Du den Verlauf deiner Lernkurve verfolgen und siehst direkt deine Fortschritte. Du wirst staunen wie schnell Erfolge erzielt werden!
				Sammle Trophäen für besondere Leistungen und vergleiche dich so mit deinen Kommilitonen. Alle deine Trophäen werden auf deinem Profil veröffentlicht und zeigen Dir somit immer wieder, wie viel Du schon erreicht hast. Catch them all!
			</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row text-center">
        <!--
          <div class="col-xs-3 text-center">
            <a><i class="fa fa-5x fa-fw fa-instagram"></i></a>
          </div>
          <div class="col-xs-3">
            <a><i class="fa fa-5x fa-fw fa-twitter"></i></a>
          </div>
          <div class="col-xs-3">
            <a><i class="fa fa-5x fa-fw fa-facebook"></i></a>
          </div>
          -->
         <div class="col-xs-12 text-center">
            <a href="https://github.com/andreasgruenh/Learny---Server"><i class="fa fa-5x fa-fw fa-github"></i></a>
         </div>
        </div>
      </div>
    </div>