/*******************************
GLOBAL
*******************************/


.app-ui, .app {
	height:100%;
}

ul {
	list-style: none;
}



/*******************************
NAVIGATION
*******************************/

.navbar {
	margin-bottom: 0px;
}

.login li{
	align-items: flex-end;
	float: right;
	margin-right: 2%;
}



/*******************************
COVER
*******************************/

.cover {
  color: inherit;
  background-color: #eeeeee;
  padding: 0px 0px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: block;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.cover .cover-image {
  z-index: -1;
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}


/*******************************
MODAL
*******************************/

.modal-content {
	align: center;
}
.modal-header, .modal-body, .modal-footer {
	padding: 2% 5%;
	margin: 1%;
}

.modal-body input, .modal-body label, .modal-footer button {
	margin: 1%;
}

.modal-header, h4 {
      background-color: #ffffff;
      color:#4a4a4a!important;
      text-align: center;
      font-size: 3rem;
  }
  .modal-footer {
      background-color: #f0f0f0;
}

#loginButton {
	margin-top: 3%;
}


/*******************************
EXAMPLE
*******************************/
