<div class="page-header">
  <h1>Passe dein Profil an</h1>
</div>
<form ng-submit="save()">
	<p>Vorname: <input type="text" name="surname" ng-model="newUser.surname" required></input></p>
	<p>Nachname: <input type="text" name="lastname" ng-model="newUser.lastname" required></input></p>
	<p>E-Mail: <input type="text" name="email" ng-model="newUser.email" required></input></p>
	<p>Vorname: <input type="text" name="surname" ng-model="newUser.surname" required></input></p>
	<input type="submit" value="Speichern"></input>
</form>
<button type="none" ng-click="cancel()">Abbrechen</button>

