<div class="section section-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Welcome! {{currentUser.accountName}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://unsplash.imgix.net/uploads/1411724908903377d4696/2e9b0cb2?q=25&amp;fm=jpg&amp;s=2016c4932a7b7a1b629cb6890bff9977"
                        class="img-responsive img-thumbnail">
                        <button class="btn btn-primary" type="none">Foto select</button>
                    </div>
                    <div class="col-md-4">
                        <p class="lead">{{currentUser.surname}} {{currentUser.lastname}}</p>
                        <p>E-mail:{{currentUser.email}}</p>
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="col-md-4">
                        <form ng-submit="save()">
                            <p>Surname:&nbsp;
                                <input type="text" name="surname" ng-model="newUser.surname"
                                required="" placeholder="Surname">
                            </p>
                            <p>Lastname:
                                <input type="text" name="lastname" ng-model="newUser.lastname"
                                required="" placeholder="Lastname">
                            </p>
                            <p>E-Mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" name="email"
                                ng-model="newUser.email" required="" placeholder="Email">
                            </p>
                            <p>
                                <label>Neu Password</label>
                            </p>
                            <p>Password:
                                <input type="password" name="password" ng-model="password" required=""
                                placeholder="Password">
                            </p>
                            <p>Password:
                                <input type="password" name="password_2" ng-model="password"
                                required="" placeholder="confirm Password">
                            </p>
                            <input class="btn btn-primary" type="submit" value="save">
                            <button class="btn btn-danger" type="none" ng-click="cancel()">cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-md-6">
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="nav nav-justified nav-pills">
                            <li>
                                <a href="#">Meine F?che</a>
                            </li>
                            <li>
                                <a href="#">Alle F?che</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">Filter<i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">sortieren_1</a>
                                    </li>
                                    <li>
                                        <a href="#">sortieren_2</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">sortieren_3</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">sortieren_4</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <a href="#"><i class="fa fa-5x fa-fw fa-bank"></i></a>
                        <p>fach1</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="#"><i class="fa fa-5x fa-cog fa-fw"></i></a>
                        <p>fach2</p>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>