<div class="section section-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Profil &nbsp;
                            <small>
                                <a ui-sref="app.editProfile">edit</a>
                            </small>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <img src="https://unsplash.imgix.net/uploads/1411724908903377d4696/2e9b0cb2?q=25&amp;fm=jpg&amp;s=2016c4932a7b7a1b629cb6890bff9977"
                        class="img-responsive img-thumbnail">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <p class="lead">{{currentUser.accountName}}</p>
                        <p><b>Name:</b> {{currentUser.prename}} {{currentUser.lastname}}</p>
                        <p><b>E-mail:</b> {{currentUser.email}}</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <fieldset>
                         <legend><b>My Note</b></legend>
                         {{currentUser.mynote}}
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Satistic</h2>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-md-10">
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-md-2 text-right">
                        <ul class="nav nav-justified nav-pills">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">Statistic<i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">sortieren_1</a>
                                    </li>
                                    <li>
                                        <a href="#">sortieren_2</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">sortieren_3</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">sortieren_4</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Statistic chart</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">Achievements</h2>
                    </div>
                </div>
            </div>
        </div>