<div class="page-header text-center">
  <h1><span class="glyphicon glyphicon-user"></span> Dein Profil <small><a ui-sref="app.editProfile"><span class="glyphicon glyphicon-edit"></span> </a></small></h1>
</div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <img src="https://unsplash.imgix.net/uploads/1411724908903377d4696/2e9b0cb2?q=25&amp;fm=jpg&amp;s=2016c4932a7b7a1b629cb6890bff9977"
                        class="img-responsive img-thumbnail">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <p class="lead">{{currentUser.accountName}}</p>
                        <p><b>Name:</b> {{currentUser.firstname}} {{currentUser.lastname}}</p>
                        <p><b>E-mail:</b> {{currentUser.email}}</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <fieldset>
                         <legend><b>Meine Notiz:</b></legend>
                         {{currentUser.myNote}}
                        </fieldset>
                    </div>
                </div>
            </div>