<div class="page-header text-center">
	<h1><span class="glyphicon glyphicon-asterisk"></span>Test erstellen.</h1>
</div>
<p align="right">
  <button class="btn btn-danger" ui-sref="app.subject({id: test.subject.id})">
      <span class="glyphicon glyphicon-chevron-left"></span>Zurück zu {{subject.name}}
  </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>

<div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form ng-submit="saveTest()">
                          <div class="text-center">
                            <label for="inputlg"><h3>Test Name:</h3> <input class="form-control input-lg" type="text" ng-model="test.name" required></label>
                          </div>
                          <hr>
                        <li ng-repeat="question in test.questions">
                        	<label>Frage: </label>
<textarea class="form-control" rows="5" type="text" ng-model="question.question" required></textarea>
                        	<ul>
                        		<li ng-repeat="answer in question.answers">
	                        	<label>Option:</label> <input type="text" ng-model="answer.answer" required>
	                        	<label>Richtig?</label> <input type="checkbox" ng-model="answer.correct">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                        	<label>Erklaerung:</label><input type="text" placeholder="Erklaerung" required>
	                        	</li>
	                        	<button ng-click="addAnswer(question)" class="btn btn-default">Neue Antwort.</button><br>
                        	</ul>
                        	<hr>
                        </li>
                        <button ng-click="addQuestion()" class="btn btn-default">Neue Frage.</button>
                        <br>
                        <hr>
                        <button type="submit" class="btn btn-primary">Test speichern.</button>
                        </form>
                    </div>
                </div>
            </div>
</div>