<div class="page-header text-center">
	<h1>
		<span class="glyphicon glyphicon-pencil"></span>{{test.name}} <small>Letztes
			Ergebnis</small>
	</h1>
</div>
<p align="right">
	<button class="btn btn-danger"
		ui-sref="app.subject({id: test.subject.id})">
		<span class="glyphicon glyphicon-chevron-left"></span>Zurück zu
		{{test.subject.name}}
	</button>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			    <div class="progress">
                    <div class="progress-bar progress-bar-striped active"
                      aria-valuemin="0" aria-valuemax="100" style="width:{{score}}%">
                      {{score}} Punkte erreicht!
                    </div>
                </div>
				<div class="panel panel-default"
					ng-repeat="question in test.questions">
					<div class="panel-heading">
						<h3 class="panel-title">{{question.question}}</h3>
					</div>
					<div class="panel-body">
							<div ng-repeat="answer in question.answers" class="checkbox">
								<label><input type="checkbox" ng-model="answer.checked">{{answer.answer}}</label>
								<p class="bg-danger" ng-hide="answer.answeredCorrectly"><span class="glyphicon glyphicon-arrow-up"></span>Hier hast du falsch geantwortet!</p>
							</div>
							<hr>
							<p>Erklaerung blablabla...warum...</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>