<div class="page-header">
  <h1>{{test.name}} <small><a ui-sref="app.subject({id: test.subject.id})">Zurück zu {{test.subject.name}}</a></small></h1>
  Fach: {{test.subject.name}}
</div>

<ul>
<li ng-repeat="question in test.questions">
	Frage: {{question.question}}
	<ul>
	<li ng-repeat="answer in question.answers">
	<div class="checkbox"><label><input type="checkbox" ng-model="answer.correct">{{answer.answer}}</label></div>
		
	</li>
	
	</ul>
</li>

<button ng-click="submit()" class="btn btn-default">Abschicken</button>

</ul>