<div class="page-header text-center">
	<h1>
		<span class="glyphicon glyphicon-list"></span> Alle Fächer
	</h1>
</div>
<div class="section">
	<div class="container">
		<div class="">
			<label class="control-label col-sm-6" for="subjectname"><span
				class="glyphicon glyphicon-search"></span> Suche nach einem Fach:</label><br />
			<input class="form-control" type="text" name="subjectname"
				ng-model="filter" placeholder="Name des Faches"></input>
		</div>
		<br>
		<button class="btn btn-default btn-block"
			ng-repeat="subject in subjects | filter:filter"
			" ui-sref="app.subject({id : subject.id})">
				<table style="word-wrap:break-word">
				    <tr>
                        <td rowspan="2"><i class="fa fa-3x fa-fw fa-flask"></i></td>
                        <td align="left"><h4>{{subject.name}}</h4></td>
                    </tr>
				    <tr><td align="left">Info:{{subject.description}}</td></tr>
				</table>
		</button>
		<div class="section" ng-show="isAdmin">
			<form ng-submit="addSubject();">
		    	<label><span class="glyphicon glyphicon-plus"></span> Neues Fach hinzufügen:</label>			
		    	<input class="form-control" ng-model="subjectname">
			</form><br/>
			<button ng-click="addSubject();" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Hinzufügen.</button>
		</div>
	</div>
</div>