<div class="page-header text-center">
	<h1>{{subject.name}}</h1>
</div>
<h2 ng-show="userIsNew">
	<a ng-click="joinSubject(); $event.preventDefault();" href="#">Trage
		dich ein</a>, um Tests zulösen!
</h2>
<div>
	<h2>Verantwortliche:</h2>
	<ul>
		<li ng-repeat="responsible in subject.accountsInCharge"><a
			href="mailto:{{responsible.email}}">{{responsible.lastname}},
				{{responsible.firstname}}</a>
			<button class="btn btn-default" ng-show="userIsAdmin"
				ng-click="removeFromResponsibles(responsible)">Als
				Verantwortlichen entfernen</button></li>
		<li ng-show="userIsAdmin"><form ng-submit="addResponsible()">
				<input type="text" name="accountname" placeholder="Accountname"
					ng-model="accountName">
				<button class="btn btn-default" type="submit">Hinzufügen</button>
			</form></li>
	</ul>
</div>


<h2 ng-show="userIsAdmin">Sieh Dir Statistiken an oder bearbeite
	Tests</h2>
<h2 ng-show="userIsEnroled">Löse doch einen der folgenden Tests</h2>
<h2 ng-hide="userIsEnroled">Tests:</h2>
<ul>
	<li ng-repeat="test in tests"><a ng-hide="userIsNew"
		ui-sref="app.test({id:test.id})">{{test.name}}</a>
		<p ng-show="userIsNew">{{test.name}}</p>
		<button class="btn btn-default" ng-show="userIsAdmin">Test
			bearbeiten</button>
		<button class="btn btn-default" ng-show="userIsAdmin"
			ng-click="deleteTest(test)">Test löschen</button></li>
	<a ng-show="userIsAdmin" ui-sref="app.createTest({id: subject.id})">Neuer Test...</a>
</ul>