<learnyheader loggedin="false"></learnyheader>
<div class="page-header">
  <h1>Lege einen neuen Account an:</h1>
</div>
<div ng-show="created" class="alert alert-success fade in">
    <strong>Geschafft!</strong><a ui-sref="welcome"> Logge dich jetzt ein um fortzufahren.</a>
</div>
<div ng-show="error" class="alert alert-danger fade in">
    <strong>Fehler!</strong> Dein Account konnte nicht erstellt werden.
</div>
<form ng-submit="create()">
	<p>Accountname:</p>
	<input type="text" name="username" ng-model="user.accountName" required></input>
	<p>Vorname:</p>
	<input type="text" name="vorname" ng-model="user.surname" required></input>
	<p>Nachname:</p>
	<input type="text" name="nachname" ng-model="user.lastname" required></input>
	<p>E-Mail:</p>
	<input type="email" name="nachname" ng-model="user.email" required></input>
	<p>Passwort:</p>
	<input type="password" name="password" ng-model="user.password" required></input>
	<input type="submit" value="Senden"></input>
</form>