<learnyheader loggedin="false" welcomepage="true"></learnyheader>
<div class="registry well well-lg">
	<div class="page-header">
		 <h1><span class="glyphicon glyphicon-plus"></span> Register now:</h1>
	</div>
	<div ng-show="created" class="alert alert-success fade in">
	    <strong>Success!</strong><a ui-sref="welcome"> Log in to proceed.</a>
	</div>
	<div ng-show="error" class="alert alert-danger fade in">
	    <strong>Failure!</strong> Your account could not be created.
	</div>
	<form role="form" ng-submit="create()">
	<div class="form-group">
		<label class="control-label col-sm-6" for="username"><span class="glyphicon glyphicon-user"></span> User name:</label>
		<input class="form-control" type="text" name="username" ng-model="user.accountName" required></input>
		
		<label class="control-label col-sm-6" for="vorname">Prename:</label>
		<input class="form-control" type="text" name="vorname" ng-model="user.firstname" required></input>
		
		<label class="control-label col-sm-6" for="nachname">Surname:</label>
		<input class="form-control" type="text" name="nachname" ng-model="user.lastname" required></input>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-6" for="email"><span class="glyphicon glyphicon-envelope"></span> E-Mail:</label>
		<input class="form-control" type="email" name="email" ng-model="user.email" required></input>
		
		<label class="control-label col-sm-6" for="password"><span class="glyphicon glyphicon-lock"></span> Password:</label>
		<input class="form-control" type="password" name="password" ng-model="user.password" required></input>
	</div>
		<button class="form-control" type="submit" value="Senden"><span class="glyphicon glyphicon-plus"></span> Register.</button>
	</form>
</div>